# Ignore everything under data/ and img/
data/*
img/*

# But allow input trees
!data/input/
!data/input/**
!img/input/
!img/input/**

# Ignore all output directories
data/output/*
data/output/oGp/*
data/output/rho/*
img/output/*
img/output/oGp/*
img/output/oGp/pdf/*
img/output/rho/*
bin/*

# Keep the tree structure
!data/.gitkeep
!data/output/.gitkeep
!data/output/oGp/.gitkeep
!data/output/rho/.gitkeep
!img/.gitkeep
!img/output/.gitkeep
!img/output/oGp/.gitkeep
!img/output/oGp/pdf/.gitkeep
!img/output/rho/.gitkeep
!bin/.gitkeep

# Ignore metadata
.conversion_metadata
